*
{
    font-family: Source Sans Pro,helvetica,sans-serif;
}

section
{
    background-color: #f5f5f5;
}

.bloc-1-accueil
{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(214,234,223,1) 0%, rgba(234,196,213,1) 100%);
    height: 20rem;
}

.bloc-4-gauche
{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(214,234,223,1) 0%, rgba(234,196,213,1) 100%);
}

.article-2 img, .bloc-4-articles img
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.bloc-1-accueil, .bloc-2-accueil, .bloc-3-accueil, .bloc-4-accueil 
{
    margin-bottom: 2.5rem;
}

/*.bloc-2-accueil h3, .bloc-2-accueil h4, .article-4 h4*/
h1, h3, h4
{
    color: #033386;
    margin-top: 5px;
}

p
{
    color: grey;
}

.bloc-2-accueil a, .article-4 a, .bloc-4-accueil a
{
    color: #4439c1;
    font-weight: bold;
}

.bloc-gauche
{
    padding: 5px;
}

.bloc-1-accueil div
{
    margin: 1rem;
}